body {
    background-image: url("1.jpg");
}
.head1{
    text-align: center;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
    background-color: aliceblue;
}
#p1{
    font-family: sans-serif;
    font-size: 15px;
}
.style{
    font-family: sans-serif;
    color: black;
    font-size: 15px;
}
ul{
	font-family: verdana;
    font-size: 15px;
}
table{
	font-family: sans-serif;
    font-size: 15px;
}
#tbl{
	font-family: cursive;
}


